body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}
.header {

  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.559);
  margin-left: 20px;
  font-style: italic;
  margin-top: 10px;
  font-family: 'Press Start';
  text-align: left;
}
@keyframes mouse {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
h1:hover{
  animation: mouse 0.5s ease-in-out;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.718);
}


.linea{
  width: 83%;
  margin-top: -25px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.453);
  margin-left: 240px;
}

ul {

  text-align: left;
  padding-left: 20px;
}
::-webkit-scrollbar-thumb {
  display: none;
  
}
::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
  margin-bottom: 20px;
  font-size: 40px;
  transition: all 0.5s ease;
}

button {
  font-size: 30px;
  background-color: transparent;
  border: none;
  font-family: 'Press Start';
  font-style: italic;
  color: rgba(255, 255, 255, 0.337);

}

.nav {
  margin-bottom: 100px;
  margin-left:30px;

}

li:hover {
  border-bottom: 1px solid rgba(255, 255, 255, 0.258);
  transform:  translateX(5px) scale(1.2);
  cursor: pointer;
  padding: 10px;
  margin-left: 50px;   /* Se moverá sí o sí */
  
}

button:hover{
  background: linear-gradient(to right, rgba(255, 255, 255, 0),rgb(255,255,255), rgb(255, 255, 255));
  background-clip: text;
  text-shadow: 0 0 100px rgb(255, 255, 255);
  -webkit-background-clip: text; /* necesario para Chrome */
  color: transparent;

}

